    *{
        margin: auto;
    }

    body{
    background-color: lightslategray;
    color:mediumblue;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    }

    #misupertitulo{
        color: mediumvioletred;
        font-size: 40px;
        padding: 25px;

    }

    p{
        border: 5px solid white;
        color: black;
        padding:20px;
        margin: 20px;
    }
    
    .hiper{
        margin-left: 20px;
        margin-right: 20px;

    }
    .imagenesintro{
        width: 300px;
        height: 160px;
        display: block;
        margin-top: 20px;
    }
    
    a:hover{
        color:red;
        font-size: 30px;
        font-style: oblique;
    }

    img:hover{
        width: 350px;
        height: 260px;
    }
    
    text{
        color: black;
    }

    h3{
        color: black;
    }




