    *{
        margin: auto;
    }

    body{
    background-color: lightslategray;
    color:mediumblue;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    }

    #misupertitulo{
        color: mediumvioletred;
        font-size: 40px;
        padding: 25px;


    }

    p{
        border: 5px solid white;
        color: black;
        padding:20px;
        margin: 20px;
    }
    
    .hiper{
        margin-left: 20px;
        margin-right: 20px;

    }
    .imagenesintro{
        width: 300px;
        height: 160px;
        display: block;
        margin-top: 20px;
    }
    
    a:hover{
        color:red;
        font-size: 30px;
        font-style: oblique;
    }

    img:hover{
        width: 350px;
        height: 260px;
    }
    
    text{
        color: black;
    }

    h3{
        color: black;
    }

    .cuadro1{
    width:100px;
    height:180px;
    border:black 2px;
    padding:40px;
    background-color:darkkhaki;

    font-family: fantasy;
    font-size: 20px;

    position: static;
    }   

    .cuadro2{
        width:100px;
        height:180px;
        border:black 2px;
        padding:40px;
        background-color:darkcyan;

        margin: 20px;
    
        font-family: fantasy;
        font-size: 20px;
    
        position: relative;
        top: 20px;
        left:40px;
        }   

        .cuadro3{
            width:360px;
            height:50px;
            border:black 2px;
            padding:40px;
            background-color:darkslateblue;
    
            margin: 20px;
        
            font-family: fantasy;
            font-size: 15px;
        
            position: fixed;
            bottom: 60px;
            left: 300px;
            TOP: 300PX;
            }   

            .cuadro4{
                width:120px;
                height:180px;
                border:black 2px;
                padding:40px;
                background-color:deepskyblue;
        
                margin: 20px;
            
                font-family: fantasy;
                font-size: 20px;
            
                position: absolute;
                top: 170px;
                 left:40px;
                }   

                .flotante{
                    width:350px;
                    height:50px;
                    border:black 2px;
                    padding:40px;
                    background-color:brown;
            
                    margin: 20px;
                
                    font-family: fantasy;
                    font-size: 20px;
                
                    float: left;

                    }   

                #miimagen:hover{
                    transition-duration: 2s;
                    transition-timing-function: ease-in;
                    transform: rotateZ(15deg) scale(0.9);
                    filter: blur(1px)
                }
                
                #miimagen2{
                    transition-duration: 1s;
                    transition-property: initial;
                    transform: rotateX(20deg);
                    translate3d(1.2);
                    
                }

                #miimagen3{
                    transition-duration: 2s;
                    transition-delay: 2s;
                    transform: rotateZ(-10deg) scale(1.0);
                    filter: grayscale(100%)
                }

                #miimagen4{
                    transition-duration: 0.3s;
                    transition-property: all;
                    transform: rotateY(25deg);
                    translate:(1.2);
                    }

                 #miimagen5{
                    transition-duration: 1s;
                    transition-delay: 0.3s;
                    transform: rotateZ(-25deg) scale(1.0);
                    filter: grayscale(100%)
                 }
    
                 #miimagen6{
                    transition-duration: 2s;
                    transition-timing-function:linear;
                    transform: rotateZ(23deg) scale(0.9);
                    filter: blur(1px)
                }
    
                #mytitle:hover{
                    transform: rotateZ(180deg) scale(1.0);
                    color: #ff0000;
                }
    

    




